{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}
{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}

    {{ macroMenu.menu('Abdo en acier',10) }}

{% endblock %}

{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-10 mx-auto mt-5 mb-5">
            <h1>{{ seance.intitule }}</h1>
            <div class="d-inline-flex mt-3 mb-3">
                <a class="btn btn-success mr-2" href="{{ path('utilisation_new', {'id': seance.id}) }}" role="button">+ Ajouter une utilisation</a></br>
                <a class="btn btn-primary mr-2" href="{{ path('seance_edit', {'id': seance.id}) }}">Modifier</a>
                {{ include('seance/_delete_form.html.twig') }}
                <a class="btn btn-primary mr-2" href="{{ path('seance_index') }}" role="button">Retour</a>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Athlète</th>
                        <td>
                            <img src="{{ seance.utilisateur.logo }}" width="80px" alt="{{ seance.utilisateur.logo }}"/></br>
                            {{ seance.utilisateur.nomUtilisateur }}
                        </td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ seance.date ? seance.date|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Intitulé</th>
                        <td>{{ seance.intitule }}</td>
                    </tr>
                </tbody>
            </table>
                <table class="table">
                        <thead>
                            <h2>Utilisations</h2>
                            <tr>
                                <th>Ordre</th>
                                <th>Durée</th>
                                <th>Quantité(s) / Vitesse</br>(Moyenne)</th>
                                <th>Machine (nom)</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for utilisation in seance.utilisations %}
                                <tr>
                                    <td>{{ utilisation.ordre }}</td>
                                    <td>{{ utilisation.duree }} {{ utilisation.machine.uniteDuree }}</td>
                                    <td>{{ utilisation.quantite }} {{ utilisation.machine.uniteIntensite }}</td>
                                    <td>{{ utilisation.machine.nom }} </br><img src="{{ utilisation.machine.logo }}" width="150px" alt="{{ utilisation.machine.logo }}"/></td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('utilisation_show', {'id': utilisation.id}) }}">Voir</a>
                                        <a class="btn btn-primary" href="{{ path('utilisation_edit', {'id': utilisation.id}) }}">Modifier</a>
                                        <a class="btn btn-danger" href="{{ path('utilisation_delete', {'id': utilisation.id}) }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucune utilisation pour l'instant !</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}
