{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}
{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}

    {{ macroMenu.menu('Abdo en acier',10) }}

{% endblock %}

{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-10 mx-auto mt-5 mb-5">
            <h1>{{ seance.intitule }}</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ seance.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ seance.date ? seance.date|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Intitulé</th>
                        <td>{{ seance.intitule }}</td>
                    </tr>
                </tbody>

                <tbody>

                {% for utilisation in seance.utilisations %}
                    <table class="table">
                        <thead>
                        <h2>Utilisations</h2>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Ordre</th>
                            <th scope="col">Duree</th>
                            <th scope="col">Quantité (rows)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ utilisation.id }}</td>
                        </tr>
                        <tr>
                            <td>{{ utilisation.ordre }}</td>
                        </tr>
                        <tr>
                            <td>{{ utilisation.duree }}</td>
                        </tr>
                        <tr>
                            <td>{{ utilisation.quantite }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

            <a class="btn btn-primary" href="{{ path('seance_edit', {'id': seance.id}) }}">Modifier</a>
            {{ include('seance/_delete_form.html.twig') }}
            <a class="btn btn-primary mt-3" href="{{ path('seance_index') }}" role="button">Retour</a>

        </div>
    </div>
</div>
{% endblock %}
