{#\projetSynf\templates\accueil\index.html.twig#}
{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}

    {{ macroMenu.menu('Abdo en acier',6) }}

{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Abdo en acier{% endblock %}


{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}

<!-- Espace Personnel -->
    <div id="content-wrapper text-center">

        <div class="container-fluid">
            <div class="col-12 text-center mt-5"><h1>DashBoard Sportif</h1>
                <div class="container text-center m-3">Personne actuellement connectée : {{ app.user.login }}
                    <div class="intro-heading">Vous êtes dans votre espace sportif. Ajoutez une séance, ou gérez vos abonnements.</div>
                </div>
            </div>

            <!-- Icon Cards-->
            <div class="row">
                <!-- Séances utilisateur-->
                <div class="col-xs-6 col-sm-6 mb-3 col-md-4 col-lg-3 col-xl-3 ">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">{{ nbSeances }} Séances</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('seance_index') }}">
                            <span class="float-left">Détails</span>
                            <span class="float-right">
                              <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- Abonnements utilisateur-->
                <div class="col-xs-6 col-sm-6 mb-3 col-md-4 col-lg-3 col-xl-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">{{ nbAbonnementUser }} Abonnements</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('abonnement_index') }}">
                            <span class="float-left">Détails</span>
                            <span class="float-right">
                              <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Statistiques -->
                <!-- Statistiques performances : coefficient d'intensité/row par séance -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Coefficient de performance : intensité * répétitions par utilisations</div>
                    <div class="card-body">
                        <canvas id="myAreaChart" width="100%" height="30"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Données en date du {{ 'now'|date('d/M/Y') }}</div>
                </div>
        </div>
    </div>

    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/vendor/jquery/jquery.min.js"></script>
    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/vendor/chart.js/Chart.min.js"></script>
    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/vendor/datatables/jquery.dataTables.js"></script>
    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="http://{{ app.request.server.get("HTTP_HOST") }}/js/demo/datatables-demo.js"></script>
    <script>

        var coefficients = [];
        var dates =  [];
        {% for coef in coefficients %}
        coefficients.push("{{ coef }}");
        {%  endfor %}

        {% for date in datesUtilisations %}
        dates.push("{{ date ? date|date('Y-m-d') : '' }}");
        {%  endfor %}

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates.reverse(),
                    datasets: [{
                        label: "Indice de performance",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: coefficients.reverse(),
                    }],
                },
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: Math.max.apply(null, dates)
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: Math.max.apply(null, coefficients),
                                maxTicksLimit: 10000
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            }
        );

    </script>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Statistiques de séances</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Séance (date)</th>
                        <th>Utilisation (Ordre)</th>
                        <th>Utilisation (Durée)</th>
                        <th>Utilisation (Intensité</br>(Moyenne))</th>
                        <th>Utilisation (Machine (nom))</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Séance (date)</th>
                        <th>Utilisation (Ordre)</th>
                        <th>Utilisation (Durée)</th>
                        <th>Utilisation (Intensité</br>(Moyenne))</th>
                        <th>Utilisation (Machine (nom))</th>
                    </tr>
                    </tfoot>
                    <tbody>
                        {% for seance in listeSeances %}
                            {% for utilisation in seance.utilisations %}
                            <tr>
                                <td>{{ seance.date ? seance.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ utilisation.ordre }}</td>
                                <td>{{ utilisation.duree }} {{ utilisation.machine.uniteDuree }}</td>
                                <td>{{ utilisation.quantite }} {{ utilisation.machine.uniteIntensite }}</td>
                                <td>{{ utilisation.machine.nom }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Données en date du {{ 'now'|date('d/M/Y') }}</div>
    </div>

    </div>
    <!-- /.container-fluid -->


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2019</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
