{% extends 'base.html.twig' %}

{% block title %}Utilisation{% endblock %}
{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}

    {{ macroMenu.menu('Abdo en acier',10) }}

{% endblock %}
{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-10 mx-auto mt-5 mb-5">
            <h1>Utilisation {{ utilisation.ordre }} de la séance "{{ utilisation.seance.intitule }}"</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Date</th>
                        <td>{{ utilisation.seance.date ? utilisation.seance.date|date('Y-m-d H:i:s') : ''  }}</td>
                    </tr>
                    <tr>
                        <th>Durée</th>
                        <td>{{ utilisation.duree }} {{ utilisation.machine.uniteDuree }}</td>
                    </tr>
                    <tr>
                        <th>Quantité(s) / Vitesse</br>(Moyenne)</th>
                        <td>{{ utilisation.quantite }} {{ utilisation.machine.uniteIntensite  }}</td>
                    </tr>
                    <tr>
                        <th>Ordre</th>
                        <td>{{ utilisation.ordre }}</td>
                    </tr>
                    <tr>
                        <th>Séance</th>
                        <td>{{ utilisation.seance.intitule }}</td>
                    </tr>
                    <tr>
                        <th>Machine</th>
                        <td>{{ utilisation.machine.nom }} </br><img src="{{ utilisation.machine.logo }}" width="150px" alt="{{ utilisation.machine.logo }}"/></td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('seance_show', {'id': utilisation.seance.id}) }}" role="button">Retour</a>

            <a class="btn btn-primary" href="{{ path('utilisation_edit', {'id': utilisation.id}) }}" role="button">Modifier</a>

            {{ include('utilisation/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
