{% extends 'base.html.twig' %}

{% block title %}RoleUtilisateur{% endblock %}

{% block body %}
    {% block headerUser %}
        {% import 'macro/macroHeader.html.twig' as headerUser %}
        {{ headerUser.headerUser('test',1) }}
    {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-10 mx-auto mt-5 mb-5">
            <h1>Rôle utilisateur : {{ role_utilisateur.titre }}</h1>

            <table class="table table-hover table-lg table-responsive overflow-hidden">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ role_utilisateur.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ role_utilisateur.titre }}</td>
                    </tr>
                    <tr>
                        <th>TitreSymfony</th>
                        <td>{{ role_utilisateur.titreSymfony }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary mt-3 mb-3" href="{{ path('role_utilisateur_index') }}" role="button">Retour à la liste</a>

            <a class="btn btn-primary mt-3 mb-3" href="{{ path('role_utilisateur_edit', {'id': role_utilisateur.id}) }}" role="button">Modifier</a>

            {{ include('role_utilisateur/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
